<!-- <app-header></app-header> -->
<!-- <app-footer></app-footer> -->
<app-title testo="Prodotti"></app-title>
<div class="container">
  <!-- <h1>Ciao!</h1> -->
</div>
<app-lista-prodotti
  titolo="Novità"
  [prodotti]="prodotti_novita"
></app-lista-prodotti>
<app-lista-prodotti
  titolo="Suggerimenti"
  [prodotti]="prodotti_suggerimenti"
></app-lista-prodotti>
<app-title testo="Blog"></app-title>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis commodi
  unde a sed? Ducimus alias quia assumenda eos ullam, dolorem perspiciatis quasi
  ea tempora animi commodi quisquam tempore maxime harum ipsa cumque hic ad
  illo! Similique itaque veniam consectetur expedita voluptatibus asperiores
  neque repellat ipsam, nisi fugit ipsa facilis! Iusto.
</p>

<router-outlet />
