@import 'bootstrap/dist/css/bootstrap.min.css';

h1{
    color: white;
}

h3{
   margin: 2% 2%;
}

.verde{
    background-color: darkgreen;
    color: wheat;
}

.rosso{
    background-color: brown;
    color: burlywood;
}